---
import Layout from "~/layouts/layout.astro";
import Splash from "~/components/splash.astro";
import Intro from "~/components/intro.astro";
import Features from "~/components/features.astro";
import Compatibility from "~/components/compatibility.astro";
import Showcase from "~/components/showcase.astro";
---

<Layout>
  <!-- Start of the main page -->
  <Splash />

  <div class="space-y-24 px-8 py-32">
    <Intro />
    <Features />
    <Compatibility />
    <Showcase />
  </div>
  <!-- End of the main page -->
</Layout>
